:root {
    --container-size: 1301px; /* 1301px / 16 */
    --container-margin: 0 auto;
    --gray: #454545;
    --white-gray: rgb(69, 69, 69);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="text"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a {
    text-decoration: none;
    color: var(--gray);
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}

a:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

a:active {
    transform: scale(99%);
    -webkit-transform: scale(99%);
    -moz-transform: scale(99%);
    -ms-transform: scale(99%);
    -o-transform: scale(99%);
}

ul,
li {
    list-style: none;
    padding: 0;
}

h3 {
    margin: 0;
}

.container {
    max-width: var(--container-size);
    margin: var(--container-margin);
}


.header__top_nav-ul {
    display: flex;
}

.header__top_nav-li {
    margin-left: 1.6875rem; /* 27px / 16 */
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}

.header__top_nav-li:first-child {
    margin: 0;
}

.header__top_nav-li:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.header__top_nav-li:active {
    transform: scale(99%);
    -webkit-transform: scale(99%);
    -moz-transform: scale(99%);
    -ms-transform: scale(99%);
    -o-transform: scale(99%);
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top_phone {
    display: flex;
    align-items: center;
}

.header__top_phone p,
a {
    margin-right: 0.625rem; /* 10px / 16 */
}

.logo {
    font-family: 'Saira Stencil One';
    font-size: 1.5rem; /* 24px / 16 */
}

.logo_image {
    position: relative;
    top: 0.25rem; /* 4px / 16 */
}

.header__middle {
    display: flex;
    align-items: center;
}

.header__middle_catalog {
    margin-left: 1.8125rem; /* 29px / 16 */
}

.header__middle_catalog-btn {
    padding: 0.625rem 1.9375rem; /* 10px 31px / 16 */
    color: #fff;
    background-color: var(--gray);
    border-radius: 6.25rem; /* 100px / 16 */
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}

.catalog_img {
    position: relative;
    top: 0.1875rem; /* 3px / 16 */
}

.header__middle_search {
    position: relative;
    margin-left: 0.625rem; /* 10px / 16 */
}

.header__middle_search-button {
    cursor: pointer;
    display: block;
    width: 1.25rem; /* 20px / 16 */
    height: 1.25rem; /* 20px / 16 */
    background-image: url(../img/icons/search.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 0.625rem); /* 10px / 16 */
    left: 36.9375rem; /* 591px / 16 */
}

.header__middle_search-search {
    width: 39.125rem; /* 626px / 16 */
    height: 3.125rem; /* 50px / 16 */
    border-radius: 6.25rem; /* 100px / 16 */
    border: 0.0625rem solid var(--white-gray); /* 1px / 16 */
    padding: 1rem 0.875rem; /* 16px 14px / 16 */
    color: var(--gray);
}

.header__middle_search-search:active {
    outline: none;
    color: var(--gray);
}

.haeder__middle_nav-a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__middle_nav-ul {
    display: flex;
}

.header__middle_nav-li img {
    width: 1.125rem; /* 18px / 16 */
    height: 1.25rem; /* 20px / 16 */
}

.header__middle_nav-li {
    margin-left: 1.71875rem; /* 27.5px / 16 */
    font-size: 0.9375rem; /* 15px / 16 */
    font-weight: 600;
    width: 4.125rem;
}

.header__bottom_nav_ul {
    display: flex;
    justify-content: space-around;
}

.header__bottom_nav {
    background-color: #f2f2f2;
    padding: 0.0625rem; /* 1px / 16 */
    border-radius: 6.25rem; /* 100px / 16 */
}

.header__bottom_nav_ul-li {
    font-weight: 600;
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}

.header__bottom_nav_ul-li:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.header__bottom_nav_ul-li:active {
    transform: scale(99%);
    -webkit-transform: scale(99%);
    -moz-transform: scale(99%);
    -ms-transform: scale(99%);
    -o-transform: scale(99%);
}

.active {
    opacity: 0.5;
}

.main {
    margin-top: 3rem; /* 48px / 16 */
}

.bread {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px / 16 */
    font-size: 1rem; /* 16px / 16 */
    font-weight: 500;
}

.h1 {
    font-weight: 700;
    font-size: 3.125rem; /* 50px / 16 */
    margin: 0;
    color: var(--white-gray);
}

.card {
    position: relative;
}

.card__text-h3 > a::before {
    position: absolute;
    content: '';
    inset: 0;
}

.cards {
    display: flex;
    gap: 1.25rem; /* 20px / 16 */
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    flex-shrink: 0.0625rem; /* 1px / 16 */
}

.card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.card:active {
    transform: scale(99%);
    -webkit-transform: scale(99%);
    -moz-transform: scale(99%);
    -ms-transform: scale(99%);
    -o-transform: scale(99%);
}

.link {
    width: 1rem; /* 16px / 16 */
    height: 1rem; /* 16px / 16 */
    margin: 0.625rem; /* 10px / 16 */
}


.card__text {
    display: flex;
    justify-content: space-between;
}

span {
    display: block;
}


.footer {
    margin-top: 3.125rem; /* 50px / 16 */
    background: rgb(242, 242, 242);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__first_side {
    display: flex;
    flex-direction: column;
    gap: 2.1875rem; /* 35px / 16 */
}

.phone-number {
    color: var(--white-gray);
    font-weight: 600;
}

.phone-number-size {
    font-size: 1.5rem; /* 24px / 16 */
}

.footer__second_side {
    display: flex;
    flex-direction: column;
    margin-left: 3.125rem; /* 50px / 16 */
    align-items: center;
}

.footer_h3 {
    font-weight: 700;
    font-size: 1.5rem; /* 24px / 16 */
    color: var(--white-gray);
}

.footer_li {
    margin-top: 1.6875rem; /* 27px / 16 */
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}

.footer_li:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.footer_li:active {
    transform: scale(99%);
    -webkit-transform: scale(99%);
    -moz-transform: scale(99%);
    -ms-transform: scale(99%);
    -o-transform: scale(99%);
}

.instagram-logo {
    width: 40px;
}

.vk-logo {
    width: 40px;
}