@import '../hovers/header-hover.css';

body {
   font-family: 'Saira Stencil One', sans-serif;
}

.container {
   width: 1301px;
   margin: 0 auto;
}

.header {
   padding-top: .75rem;
}

.header-top {
   margin-bottom: 1.5rem;
}

.top-holder {
   display: flex;
   justify-content: space-between;
}

.nav-top {
   display: flex;
}

.top-link {
   font-size: 14px;
   font-weight: 600;
   color: #4545458a;
   margin-right: 2rem;
   transition: .3s ease-out;
}

.top-link:last-child {
   margin-right: 0;
}

.contact {
   display: flex;
   align-items: center;
}

.tel {
   font-size: 14px;
   font-weight: 600;
   color: #454545;
   margin-right: 27px;
   transition: .3s ease-out;
}

.call {
   font-size: 14px;
   font-weight: 600;
   color: #4545458a;
   transition: .3s ease-out;
}

.header-main {
   margin-bottom: 1.5rem;
}

.main_holder {
   display: flex;
   align-items: center;

   margin-bottom: 1.5rem;
}

.logo-wrap {
   display: flex;
   margin-right: 29px;
}

.logo {
   transition: .3s ease-out;
}

.button-catalog {
   margin-right: .75rem;
}

.catalog-btn {
   width: 154px;
   display: flex;
   justify-content: space-between;
   padding: 14px 28px;

   color: #fff;
   background-color: #454545;
   font-weight: 600;
   border-radius: 6.25rem;
   transition: .3s ease-out;
}

.search {
   width: 626px;
   height: 50px;

   display: flex;
   align-items: center;
   justify-content: space-between;

   border: 1px solid #454545;
   border-radius: 6.25rem;
}

.input-search {
   margin-left: 1.25rem;
}

.input-search::placeholder {
   color: #4545458a;
   font-weight: 600;
}

.search i {
   color: #454545;
   font-size: 18px;
   margin-right: 19px;
}

.shopping {
   display: flex;
   align-items: center;
   margin-left: 31px;
}

.shopping div {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 31px;
}

.shopping div:last-child {
   margin-right: 0;
}

.shopping div a {
   color: #454545;
   font-weight: 600;
   transition: .3s ease-out;
}

.cart {
   position: relative;
   text-align: center;
}

.cart::after {
   content: '1';
   position: absolute;
   top: -7px;
   right: 22px;
   z-index: -1;

   width: 16px;
   height: 16px;

   color: #fff;
   background-color: #c63c3c;
   font-size: .75rem;
   font-weight: 600;

   border-radius: 50%;
}

.favorites i,
.comparison img,
.cart img {
   margin-bottom: 5px;
}

.heart {
   font-size: 1.5rem;
}

.nav {
   display: flex;
   justify-content: center;

   background-color: #f2f2f2;
   padding: 11px 0;
   margin-bottom: 3rem;
   border-radius: 6.25rem;
}

.nav-link {
   margin-right: 3.25rem;
   color: #454545;
   font-weight: 600;
   transition: .3s ease-out;
}

.nav-link:last-child {
   margin-right: 0;
}

.active {
   color: #4545458a;
}

.header-bottom {
   margin-bottom: 15px;
}

.path {
   display: flex;
   align-items: center;
}

.path,
a,
i {
   margin-right: .75rem;
}

.path i {
   font-size: 10px;
}

.path i:nth-child(2) {
   color: #4545458a;
}

.path i:nth-child(4) {
   color: #454545;
}

.path a:nth-child(1) {
   color: #4545458a;
   font-weight: 400;
}

.path a:nth-child(3) {
   color: #4545458a;
   font-weight: 500;
}

.path a:last-child {
   color: #454545;
   font-weight: 500;
   margin-right: 0;
}